{{!
CITATION: This file is adapted from the example on Canvas.
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}
<h1>Customers</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each customers.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the data for the pet }}
        {{#each customers}}
        <tr>
            <td>{{this.customer_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.state}}</td>
            <td>{{this.zip}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>

            {{! DELETE form }}
            <form id='delete_customer_form'>
                <input type='hidden' name='delete_customer_id' value='{{this.pet_id}}' />
                <input type='hidden' name='delete_customer_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Customer</h2>
<form class='cuForm' id='create_customer_form'>
    {{! Name }}
    <label for='create_customer_name'>Name: </label>
    <input type='text' name='create_customer_name' id='create_pet_name' required />
    <br>
     {{! Address }}
    <label for='create_customer_address'>Address: </label>
    <input type='text' name='create_customer_address' id='create_customer_address' required />
    <br>
     {{! State }}
    <label for='create_customer_state'>State: </label>
    <input type='text' name='create_customer_state' id='create_customer_state' required />
    <br>
     {{! Zip }}
    <label for='create_customer_zip'>Zip: </label>
    <input type='text' name='create_customer_zip' id='create_customer_zip' required />
    <br>
     {{! Phone }}
    <label for='create_customer_phone'>Phone: </label>
    <input type='tel' name='create_customer_phone' id='create_customer_phone' required />
    <br>
     {{! Email }}
    <label for='create_customer_email'>Email: </label>
    <input type='email' name='create_customer_email' id='create_customer_email' required />
    <br>
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Customer</h2>
<form class='cuForm' id='update_customer_form'>
    <label for='update_customer_id'>Customer to Update: </label>
    {{! Customer ID }}
    <select name='update_customer_id' id='update_customer_id' required>
        <option value='' disabled selected>Select a Customer</option>
        {{#each customers}}
        <option value='{{this.customer_id}}'>
            {{this.customer_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
    <br>
    {{! Name }}
    <label for='update_customer_name'>Name: </label>
    <input type='text' name='update_customer_name' id='update_pet_name' required />
    <br>
     {{! Address }}
    <label for='update_customer_address'>Address: </label>
    <input type='text' name='update_customer_address' id='update_customer_address' required />
    <br>
     {{! State }}
    <label for='update_customer_state'>State: </label>
    <input type='text' name='update_customer_state' id='update_customer_state' required />
    <br>
     {{! Zip }}
    <label for='update_customer_zip'>Zip: </label>
    <input type='text' name='update_customer_zip' id='update_customer_zip' required />
    <br>
     {{! Phone }}
    <label for='update_customer_phone'>Phone: </label>
    <input type='tel' name='update_customer_phone' id='update_customer_phone' required />
    <br>
     {{! Email }}
    <label for='update_customer_email'>Email: </label>
    <input type='email' name='update_customer_email' id='update_customer_email' required />
    <br>
    <input type='submit' />
</form>