{{!
CITATION: This file is adapted from the example on Canvas.
Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}
<h1>Shelters</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each shelters.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the data for the shelter }}
        {{#each shelters}}
        <tr>
            <td>{{this.location_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.city}}</td>
            <td>{{this.state}}</td>
            <td>{{this.zip}}</td>
        {{/each}}
    </tbody>
</table>