{{!
 * CITATION:
 * The code in this file is adapted from the Node.js example on Canvas.
 * Link: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
}}
<h1>Vaccinations</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each vaccinations.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the data for the vaccination }}
        {{#each vaccinations}}
        <tr>
            <td>{{this.vaccination_id}}</td>
            <td>{{this.pet_id}}</td>
            <td>{{this.pet_name}}</td>
            <td>{{this.vaccine_id}}</td>
            <td>{{this.vaccine_name}}</td>
            <td>{{this.vaccination_date}}</td>

            {{! DELETE form }}
            <form id='delete_vaccination_form'>
                <input type='hidden' name='delete_vaccination_id' value='{{this.vaccination_id}}' />
                <input type='hidden' name='delete_vaccination_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create a Vaccination</h2>
<form class='cuForm' id='create_vaccination_form'>
    {{! Pets }}
    <label for='create_vaccination_pet'>Pets: </label>
    <select name='create_vaccination_pet' id='create_vaccination_pet' required>
        <option value='NULL' disabled selected>Select a Pet</option>
        {{#each pets}}
        <option value='{{this.pet_id}}'>
            {{this.pet_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
    <br>
    {{! Vaccines }}
    <label for='create_vaccination_vaccine'>Vaccines: </label>
    <select name='create_vaccination_vaccine' id='create_vaccination_vaccine' required>
        <option value='NULL' disabled selected>Select a Vaccine</option>
        {{#each vaccines}}
        <option value='{{this.vaccine_id}}'>
            {{this.vaccine_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
    <br>
    <label for="create_vaccination_date">Date: </label>
    <input type="date" id="create_vaccination_date" name="create_vaccination_date">
    <br>
    <input type='submit' />
</form>

{{! UPDATE form }}
<h2>Update a Vaccination</h2>
<form class='cuForm' id='update_pet_form'>
    <label for='update_vaccination_id'>Vaccination to Update: </label>
    {{! Vaccination ID }}
    <select name='update_vaccination_id' id='update_vaccination_id' required>
        <option value='' disabled selected>Select a Vaccination</option>
        {{#each vaccinations}}
        <option value='{{this.vaccination_id}}'>
            {{this.vaccination_id}}
        </option>
        {{/each}}
    </select>
    <br>
    {{! Pet }}
    <label for='update_vaccination_pet'>Pet: </label>
    <select name='update_vaccination_pet' id='update_vaccination_pet'>
        <option value='NULL' disabled selected>Select a Pet</option>
        {{#each pets}}
        <option value='{{this.pet_id}}'>
            {{this.pet_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
    <br>
    <label for='update_vaccination_vaccine'>Vaccine: </label>
    <select name='update_vaccination_vaccine' id='update_vaccination_vaccine'>
        <option value='NULL' disabled selected>Select a Vaccine</option>
        {{#each vaccines}}
        <option value='{{this.vaccine_id}}'>
            {{this.vaccine_id}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>
    <br>
    <label for="update_vaccination_date">Date: </label>
    <input type="date" id="update_vaccination_date" name="update_vaccination_date">
    <br>
    <input type='submit' />
</form>